# --- Your base ---
.vs/
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig
SourceArt/**/*.png
SourceArt/**/*.tga
*_BuiltData.uasset

# --- FIXES FOT PUPPE ---
# Ignore complete files, not just the content
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/

# Reduce the sapce 1GB
.idea/
*.pdb
*.opendb
UpgradeLog.htm


!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico